@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>Dashboard</h3>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="room-tab" data-toggle="tab" href="#room" role="tab" aria-controls="room" aria-selected="true">Rooms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="guest-tab" data-toggle="tab" href="#guest" role="tab" aria-controls="guest" aria-selected="false">Guests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="booking-tab" data-toggle="tab" href="#booking" role="tab" aria-controls="booking" aria-selected="false">Bookings</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="room" role="tabpanel" aria-labelledby="room-tab">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="pl-3">Id</th>
                        <th>Floor</th>
                        <th>Number</th>
                        <th>Capacity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in Model.Rooms)
                    {
                        <tr>
                            <td class="pl-3">
                                @Html.DisplayFor(modelItem => room.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => room.Floor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => room.Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => room.MaxResidentsCount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="guest" role="tabpanel" aria-labelledby="guest-tab">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="pl-3">Id</th>
                        <th>Surname</th>
                        <th>Name</th>
                        <th>Patronymic</th>
                        <th>Birthday</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var resident in Model.Residents)
                    {
                        <tr>
                            <td class="pl-3">
                                @Html.DisplayFor(modelItem => resident.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => resident.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => resident.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => resident.Patronymic)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => resident.Birthday)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="booking" role="tabpanel" aria-labelledby="booking-tab">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="pl-3">Id</th>
                        <th>Room</th>
                        <th>Resident</th>
                        <th>Settle date</th>
                        <th>Evict date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var roomResident in Model.RoomResidents)
                    {
                        var room = Model.Rooms.Where(r => r.Id == roomResident.RoomId).Select(r => $"Floor {r.Floor}, number {r.Number} (#{r.Id})").FirstOrDefault();
                        var resident = Model.Residents.Where(r => r.Id == roomResident.ResidentId).Select(r => $"{r.Surname} {r.Name} {r.Patronymic} (#{r.Id})").FirstOrDefault();
                        <tr>
                            <td class="pl-3">
                                @Html.DisplayFor(modelItem => roomResident.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => room)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => resident)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => roomResident.SettleDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => roomResident.EvictDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <hr class="mt-5" />

    <h3>Add new booking</h3>
    <div class="row">
        <div class="col-6">
            <form method="post" action="/Home/Index">
                <div class="form-group">
                    <label for="roomId">Room ID</label><br>
                    @*<input class="form-control" type="number" name="roomId" />*@
                    <select class="form-control" name="roomId" required>
                        <option hidden disabled selected>--- Select an option ---</option>
                        @foreach (var room in Model.Rooms)
                        {
                            <option value="@(room.Id)">Floor @(room.Floor), number @(room.Number)</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="true">New guest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="existing-tab" data-toggle="tab" href="#existing" role="tab" aria-controls="existing" aria-selected="false">Existing guest</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
                        <div class="form-group">
                            <label for="surname">Surname</label><br>
                            <input class="form-control" type="text" name="surname" />
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label><br>
                            <input class="form-control" type="text" name="name" />
                        </div>
                        <div class="form-group">
                            <label for="patronymic">Patronymic</label><br>
                            <input class="form-control" type="text" name="patronymic" />
                        </div>
                        <div class="form-group">
                            <label for="birthday">Birthday</label><br>
                            <input class="form-control" type="date" name="birthday" />
                        </div>
                    </div>
                    <div class="tab-pane fade" id="existing" role="tabpanel" aria-labelledby="existing-tab">
                        <div class="form-group">
                            <label for="residentId">Resident ID</label><br>
                            @*<input class="form-control" type="number" name="residentId" />*@

                            <select class="form-control" name="residentId">
                                <option></option>
                                @foreach (var resident in Model.Residents)
                                {
                                    <option value="@(resident.Id)">@(resident.Surname) @(resident.Name) @(resident.Patronymic)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-info" type="submit" value="Отправить" />
                </div>
            </form>
        </div>
    </div>
</div>
